

:root {
  --wheat: #f3deb9;
  --buff: #d1a575;
  --carmine: #9f1919;
  --night: #141414;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--night);
  color: var(--wheat);
  font-family: 'Montserrat', 'Raleway', sans-serif;
  overflow-x: auto; /* Prevent horizontal scrolling */
  overflow-y: auto;
}

.about-container {
  padding: -10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--night);
  color: var(--wheat);
  min-height: 100vh;
  position: relative;
}

.skills-container {
  margin-top: calc(50vh - 300px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  position: relative; /* This ensures that the skill cards are laid out in front of the blocks */
  z-index: 2; /* Higher than the z-index of the background blocks */
}

.skill-card {
  position: relative; /* Add this line */
  background-color: var(--night);
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  max-height: 400px;
  min-height: 300px;
  width: 100%;
  transition: transform 0.3s ease;
}

.skill-card svg {
  color: var(--wheat); /* Set icon color */
  position: absolute; /* Position the icon absolutely within the card */
  top: -10px; /* Position it slightly above the top edge */
  right: -10px; /* And slightly beyond the right edge */
  transform: scale(1.4); /* Optionally, scale the icon up */
  z-index: 1; /* Ensure it's above the card background but below text */
}


.skill-card:hover {
  transform: scale(1.05);
}

.skill-card h2 {
  color: var(--wheat);
  margin-bottom: 15px;
  padding-right: 0px;
  text-align: center;
}

.skill-card p {
  color: var(--wheat);
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

.background-block {
  position: absolute;
  width: calc(50%);
  height: 50%;
  z-index: 1; /* Ensure they are behind the skill cards */
}

.top-left-block {
  background-color: var(--buff);
  top: 0;
  left: 0;
}

.top-right-block {
  background-color: var(--carmine);
  top: 0;
  right: 0;
}

.bottom-left-block {
  background-color: var(--carmine);
  bottom: 0;
  left: 0;
}

.bottom-right-block {
  background-color: var(--buff);
  bottom: 0;
  right: 0;
}

/* Adjust the border-radius for each corner block specifically */
.top-left-block {
  background-color: var(--buff);
  top: 0;
  left: 0;
  border-radius: 50px 0 0 0; /* Rounds the top-left corner */
}

.top-right-block {
  background-color: var(--carmine);
  top: 0;
  right: 0;
  border-radius: 0 50px 0 0; /* Rounds the top-right corner */
}

.bottom-left-block {
  background-color: var(--carmine);
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 50px; /* Rounds the bottom-left corner */
}

.bottom-right-block {
  background-color: var(--buff);
  bottom: 0;
  right: 0;
  border-radius: 0 0 50px 0; /* Rounds the bottom-right corner */
}


@media (max-width: 1599px) {
  .skills-container {
    margin-top: calc(45vh - 400px);
  }
}

@media (max-width: 1099px) {
  .skills-container {
    margin-top: calc(0vh);
  }
}

@media (max-width: 800px) {

  .skills-container {
    margin-top: calc(0vh);
  }

  .skill-card {
    padding: 5px;
    max-width: 300px;
    margin: 0px;
  }

  .skill-card svg {
    color: var(--wheat); /* Set icon color */
    position: absolute; /* Position the icon absolutely within the card */
    top: -10px; /* Position it slightly above the top edge */
    right: -10px; /* And slightly beyond the right edge */
    transform: scale(1.25); /* Optionally, scale the icon up */
    z-index: 1; /* Ensure it's above the card background but below text */
  }

  .skill-card h2 {
    color: var(--wheat);
    margin-bottom: 15px;
    padding-right: 0px;
    text-align: center;
    font-size: 12px;
  }
  
  .skill-card p {
    color: var(--wheat);
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    font-size: 10px;
  }
}