.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* If you want separation between cards when scrolling */
  overflow: hidden; /* Prevents scrollbars from showing up */
}

.project-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* This will center the .project-card vertically and horizontally */
  width: 100%; /* Ensures the wrapper takes the full width of the viewport */
}

.project-card {
  width: 80%; /* Adjust width as needed */
  max-width: 1800px; /* Keeps the card from getting too large on wider screens */
  max-height: 95%;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px; /* Add padding inside the card for better layout */
}

.project-card h2, .project-card p {
  margin: 20px 0; /* Add margin for spacing */
}

.project-card:hover {
  box-shadow: 0 36px 72px rgba(0, 0, 0, 0.3); /* Changed to a box-shadow effect */
}

.carousel-container, .carousel-item {
  width: 100%;
  max-width: 50%; /* This will control the size of the carousel */
  margin: auto; /* This will center the carousel in the .project-card if the card is wider */
}

.project-image, .project-card .carousel .slide img, .project-card .carousel .slide video {
  max-width: 100%;
  height: 500px; /* Fixed height for the carousel's media window */
  object-fit: contain;
  margin: auto; /* Centers the media in the carousel container */
}

.technology-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.technology-icons svg {
  width: 30px;
  height: auto;
  color: var(--wheat);
}

/* Adjusting Carousel Arrow Button Size and Position */
.react-carousel__arrow {
  width: 50px; /* Increase width for a larger clickable area */
  height: 50px; /* Increase height for a larger clickable area */
  background: rgba(0,0,0,0.5); /* Optional: add background for visibility */
}

.react-carousel__arrow--left {
  left: 10px; /* Adjust position if needed */
}

.react-carousel__arrow--right {
  right: 10px; /* Adjust position if needed */
}

.react-carousel__arrow:before {
  font-size: 30px; /* Increase the size of the arrow icon */
}


.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above everything else */
}

.lightbox-media {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: var(--wheat);
  cursor: pointer;
}

@media (max-width: 768px) {
  .project-card {
    width: 95%; /* Cards will now take up full width */
    border-radius: 0; /* Optional: Adjusts border-radius for a more "full-screen" look */
  }

  .carousel-container, .carousel-item {
    max-width: 95%; /* Carousel now expands to match the card width */
  }
}

